#!/bin/bash

export RT_DBA_PASSWORD=password
export RT_DBA_USER=root
export RT_TEST_DEVEL=1
export RTHOME=~/code/BestPractical/rts/rt-dev-pgsql
export RT_FIX_DEPS_CMD=/Users/jason/perl5/perlbrew/bin/cpanm
export OPENSSL_PREFIX=/opt/homebrew/opt/openssl@1.1
export PATH="$HOME/code/BestPractical/bin:$HOME/code/BestPractical/private/git-tools:$HOME/bin:$HOME/.tmuxifier/bin:/Applications/Postgres.app/Contents/Versions/14/bin:/usr/local/bin:/usr/local/sbin:$PATH"
